* {
    margin: 0px;
}
body {
    background-color: rgb(27,49,34);
}
.nav {
  width: 360px;          /* фиксированная ширина */
  margin: 0 auto;        /* центрирование по горизонтали */
  color: rgb(226, 255, 227);
  position: relative;
}

.menu {
  margin-top: 40px;
  list-style: none;      /* убираем точки */
  padding: 0;
  display: flex;
  justify-content: center; /* все по центру */
  gap: 48px;               /* расстояние между ссылками */
  position: relative;
  z-index: 1;            /* расстояние между ссылками */
}
li {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.stick {
    width: 360px;
    margin: -68px auto;
}
section {
    margin-top: 2vw;
    text-align: center;
}
h1 {
    font-size: 5vw;
    color: rgb(255,210,121);
  font-family: "UnifrakturCook", cursive;
  font-weight: 700;
  font-style: normal;
}

p {
    font-size: 2vw;
    color: rgb(226, 255, 227);
    max-width: 60vw;
    margin: 10px auto;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal; 
}

img {
    margin-top: 2vw;
    width: 60vw;
}
footer {
    margin-top: 80px;
    text-align: center;
}
.reviews {
    margin-top: 4vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.review {
    display: flex;
    align-items: center;
    margin: 2vw 3vw;
}
.review-photo {
    display: inline-block;
    width: 14vw;
    margin-right: 1.5vw;
    border: 1px black solid;
    border-radius: 20%;
}
.text {
    max-width: 28vw;
}
.last-hat {
    width: 20vw;
    margin-top: 2vw;
    margin-bottom: 110px;
}
a {
    text-decoration: none;
    color: rgb(226, 255, 227);
}