* {
    margin: 0px;
}
body {
    background-color: rgb(216, 170, 84);
}
.nav {
  width: 360px;          /* фиксированная ширина */
  margin: 0 auto;        /* центрирование по горизонтали */
  color: rgb(80,50,19);
  position: relative;
}

.menu {
  margin-top: 40px;
  list-style: none;      /* убираем точки */
  padding: 0;
  display: flex;
  justify-content: center; /* все по центру */
  gap: 48px;   
  position: relative;
  z-index: 1;            /* расстояние между ссылками */
}
li {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.stick {
    width: 360px;
    margin: -68px auto;
    z-index: -1;
}
section {
    text-align: center;
}
h1 {
    font-size: 5vw;
    color: rgb(80,50,19);
  font-family: "UnifrakturCook", cursive;
  font-weight: 700;
  font-style: normal;
}

div {
    display: flex;
    justify-content: center;
    margin-top: 4vw;
}
.gallery {
    height: 40vw;
    margin-right: 2vw;
}
figcaption {
    font-size: 2vw;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
blockquote {
    margin: 8vw;
    font-size: 4vw;
  font-family: "UnifrakturCook", cursive;
  font-weight: 600;
  font-style: normal;
  color: rgb(80,50,19);
}

.gallery2 {
    width: 80vw;
}
.last-hat {
    text-align: center;
    width: 20vw;
    margin-top: 2vw;
    margin-bottom: 110px;
}
a {
    text-decoration: none;
    color: black;
}