* {
    margin: 0px;
}
body {
    background-color: rgb(27,49,34);
}
.nav {
  width: 360px;          /* фиксированная ширина */
  margin: 0 auto;        /* центрирование по горизонтали */
  color: rgb(226, 255, 227);
  position: relative;
}

.menu {
  margin-top: 40px;
  list-style: none;      /* убираем точки */
  padding: 0;
  display: flex;
  justify-content: center; /* все по центру */
  gap: 48px;               /* расстояние между ссылками */
  position: relative;
  z-index: 1;            /* расстояние между ссылками */
}
li {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.stick {
    width: 360px;
    margin: -68px auto;
}
section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30vw;
}
.hero {
    text-align: center;
    position: relative;
}
.hero-img {
    width: 50vw;
    position: absolute;
    left: 25vw;
    top: -20vw;
    z-index: -1;
}
h1 {
    font-size: 5vw;
    color: rgb(255,210,121);
  font-family: "UnifrakturCook", cursive;
  font-weight: 700;
  font-style: normal;
}

h2 {
    font-size: 3vw;
    color: rgb(226, 255, 227);
}
span {
    color: rgb(176,176,176);
}
article {
    margin-top: 120px;
    text-align: center;
    position: relative;
}
.biography {
    color: rgb(226, 255, 227);
    list-style-position: inside;
    font-size: 2vw;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
.bio {
    margin: 44px auto 0;
    max-width: 40vw;
}
.side-img {
  width: 20vw;   /* подгони под нужный размер */
  margin-top: 10px;
}
.left {
  float: left;
}
.right {
  float: right;
}
footer {
    margin-top: 80px;
    text-align: center;
}
.reviews {
    margin-top: 4vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.review {
    display: flex;
    align-items: center;
    margin: 2vw 3vw;
}
.review-photo {
    display: inline-block;
    width: 14vw;
    margin-right: 2vw;
}
p {
    font-size: 2vw;
    max-width: 28vw;
    text-align: left;
    color: rgb(226, 255, 227);
}
.last-hat {
    width: 20vw;
    margin-top: 2vw;
    margin-bottom: 110px;
}
a {
    text-decoration: none;
    color: rgb(226, 255, 227);
}